- name: Check If Public Key Exist
  stat:
    path: "{{ssh_pubkey_path}}"
  register: ssh_pubkey_stat
- name: Generate SSH Key Pair There Is No Public Key
  shell: |
    ssh-keygen -t rsa -b 4096 -f /home/user/.ssh/id_rsa -N ''
  become_user: user
  when: ssh_pubkey_stat.stat.exists == False
- name: Slurp Public Key Form Local Machine
  slurp:
    src: "{{ssh_pubkey_path}}"
  register: ssh_pubkey
- name: Create GCP Workers Instances
  google.cloud.gcp_compute_instance:
    name: "{{item.name}}"
    machine_type: "{{item.machine_type}}"
    zone: "{{item.zone}}"
    project: "{{google_project_id}}"
    auth_kind: "application"
    # service_account_file: "{{service_account_path}}"
    state: present
    metadata:
      items:
        - key: ssh-keys
          value: "user:{{ ssh_pubkey.content | b64decode }}"
    # metadata:
    #   ssh-keys: "user:{{ssh_pubkey['content'] | b64decode}}"
    disks:
      - auto_delete: true
        boot: true
        initialize_params:
          source_image: "{{item.image}}"
          disk_size_gb: "{{item.disk_size}}"
          disk_type: "{{item.disk_type}}"
    network_interfaces:
      - network:
          selfLink: "projects/{{ google_project_id }}/global/networks/default"
        access_configs:
          - name: External NAT
            type: ONE_TO_ONE_NAT
    tags:
      items:
        - http-server
        - https-server
  loop: "{{ machines_info | selectattr('name', 'match', '^worker') | list }}"
  register: gcp_workers_instances
  when: item.name is match('^worker')
  # when:
  #   - item.name not in ["master02", "master03"]
- name: Register The Existing Inventory File
  slurp:
    src: "{{ inventory_file }}"
  register: existing_inventory
  become: false
- name: Update Our Inventory
  template:
    src: "../templates/workers-inventory.j2"
    dest: "{{ inventory_file }}"
  vars:
    existing_content: "{{ existing_inventory.content | b64decode }}"

