- name: Slurp The Local Public Key
  slurp:
    src: "{{ssh_public_key_path}}"
  register: ssh_pub_key
# - name: Install Pip
#   apt:
#     name: python3-pip
#     state: present
# - name: Ensure The Package Are Installed
#   pip:
#     name:
#       - requests
#       - google-auth
- name: Create GCP Instance
  google.cloud.gcp_compute_instance:
    name: "gcp-instance-ansible01"
    machine_type: "e2-medium"
    zone: "us-central1-a"
    project: "{{ google_project_id }}"
    auth_kind: "application"
    # service_account_file: "{{ service_account_path }}"
    state: present
    metadata:
      ssh-keys: "user:{{ssh_pub_key['content'] | b64decode}}"
      startup-script: |
        #!/bin/bash
        sudo apt-get update && sudo apt-get upgrade -y
        sudo apt-get install -y fish
    disks:
      - auto_delete: true
        boot: true
        initialize_params:
          source_image: "projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts"
          disk_size_gb: 15
          disk_type: "pd-standard"
    network_interfaces:
      # - network: default
      - network:
          selfLink: "projects/{{ google_project_id }}/global/networks/default"
        access_configs:
          - name: External NAT
            type: ONE_TO_ONE_NAT
    tags:
      items:
        - http-server
        - https-server
  register: gcp_instance
  when: true
- name: Write GCP_Instance Into JSON File
  copy:
    content: "{{gcp_instance}}"
    dest: "./gcp_instance.json"
  when: true
- name: Generate Inventory
  template:
    src: ../templates/gcp-inventory-template.j2
    dest: ../inventory/hosts.ini